.form-input + .form-label {
	position: absolute;
    top: 161px;
    left: 665px;
    color: gray;
    transition: transform 0.3s;
}
.form-input {
    border: none;
    border-bottom:2px solid #225;
    outline: none;
    width: 470px;
    height: 50px;
    font-size: 42px;
}
.form-label {
    font-size:26px; 
}
body {
    width: 600px;
    margin: 0px auto;
    font-family: monospace;
}